.NavBar {
    /*background-color: red;*/

    justify-self: center;
    vertical-align: center;
    width: 100%;
}

.None {

}

/*Should be on the vertical center*/
.NavBarDiv {
    background-color: var(--home-div-background);
    padding: 1rem;
    
    border-radius: 0.25rem;
    
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NavBarHamburg {
    display:none;
}

.PostDiv {
    background-color: var(--home-div-background);
    border-radius: 0.5rem;
    padding: 10px;
    overflow-x: auto;

    height: max-content;
    min-height: 100%;
}

.goofyList li
{
    margin-bottom: 30px;
    margin-top: 30px;
}

.NewsDiv {
    background-color: #101020;
    padding: 10px 30px 10px 20px;
    height: max-content;
    min-height: 100%;
}

.MainContent {
    /*background-color: yellow;*/
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-template-rows: 1fr;

    height: calc(100vh - 4rem - (var(--show_hamburg) * 60px));
    overflow-y: auto;
}

/*Space between*/
.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding: 10px;
    overflow: clip;
    height: calc(100vh - 4rem);
}

/*Media Query if too small
  Make Navbar on top in hamburger menu
  Then PostDiv with full size
  At the bottom NewsDiv*/
@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .MainContent {
        /*grid-template-columns: 1fr;*/
        /*grid-template-rows: 1fr 1fr;*/
        display: block;
    }

    .NavBar {
        background-color: #404080;
        display: block;
        width: 100%;
        height: 40px;
    }

    .NavBar2 {
        background-color: #4040A0;
        display: block;
        width: 100%;
        /*height: 100px;*/
    }

    .NavBarDiv {
        display:none;
    }

    .NavBarHamburg {
        display:grid;
        grid-template-columns: 40px 1fr 40px;
    }

    .NavBarHamburg button {
        width: 40px;
        margin: 5px;
    }
}


.button{
    background: linear-gradient(45deg, #ff0099, #ff6600);
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;

    border-radius: 1rem;
    font-weight: bold;
    border: none;
    transition: background 0s, transform 0.1s;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}

.button:hover{
    transform: scale(1.05);
    background: #de5a2a;
    box-shadow: 0 0 15px #ff0099;
    color: white;
}


.NavBarDiv a
{
    background: var(--post-background);
    color: white;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    
    text-decoration: none;
    
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
    transition: background 0s, transform 0.2s; 
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

.NavBarDiv a:hover{
    transform: scale(1.0025); 
    background: rgba(255,255,255, 0.1);
    color: white;
}

.coolPosts
{
    text-align: center;
    margin-bottom: -1.25rem;
}

.greeting
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*!*NavBar floats left, PostDiv in center and NewsDiv floats right*!*/
/*.main {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 20px;*/
/*}*/

/*!*Media Query if too small*/
/*  Make Navbar on top in hamburger menu*/
/*  Then PostDiv with full size*/
/*  At the bottom NewsDiv*!*/
/*@media (max-width: 600px) {*/
/*    .main {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

